<include "../partial/header">
<include "../partial/navigation">
<!-- value currentUser -->
<h1>HELLO THERE. THIS IS POSTS INDEX</h1>
<h3><%=currentUser%>you are logged in.</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-4">
          <!-- upvotes+downvotes -->
        </div>
        <div class="col-xs-8">
          <%=posts.title%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%=posts.image%>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <%=posts.location%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%=posts.date%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%=posts.description%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a href="/edit" class="btn btn-info ">EDIT</a>
        </div>
        <div class="col-xs-6">
          <form action="/posts/<%=posts.id%>?_method=delete" method="POST">
            <label for="delete"></label>
            <button type="button" class="btn btn-default" id="delete">DELETE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<include "../partial/footer">