<%include ../partials/header%>
<%include ../partials/navigation%>
<!-- value currentUser -->
<div class="text-center">
<%if(currentUser.username !== undefined || null){%>
  <h3>Welcome Back: <%=currentUser.username%></h3>
  <%}else{%>
    <h4>Welcome Guest</h4>
    <h3>Post content by<a href="/signup"> signing up</a> </h3>
  <%}%>
</div>
<h1 class="text-center">Location Review</h1>
<div class="container">
  
        <!-- <div class="col-xs-4">
          upvotes+downvotes
        </div> -->
    <%posts.forEach(function(post){%>
  <div class="col-xs-8 col-xs-offset-2 contentWrapper postsWrapper">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <label>Title:</label>
      <a href="/posts/<%=post._id%>"><%=post.title%></a> 
    </div>  
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <img src="<%=post.image%>" width="195px" height="170px">
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <label>Description:</label>
      <%=post.description%>
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <label for="location">Location:</label>
       <%=post.location%>
    </div>
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <label>Date:</label>
      <%=moment(post.date).format("MM/DD/YYYY")%>
    </div>
    <%if(post.user.id === currentUser.id){%>
    <div class="col-xs-6">
      <a href="/posts/<%=post.id%>/edit" class="btn btn-info btn-block">EDIT</a>
    </div>
    <div class="col-xs-6">
      <form action="/posts/<%=post.id%>?_method=delete" method="POST">
        <input type="submit" class="btn btn-danger btn-block" id="delete"value="DELETE">
      </form>
    </div>
        <%}%>
    </div>
    <%})%>
</div>
<script src="/script.js"></script>
<%include ../partials/footer%>