<%include ../partials/header%>
<%include ../partials/navigation%>
<div class="container">
  <div class="col-xs-8 col-xs-offset-2 contentWrapper postsWrapper text-center">
    <div>Title:<%=post.title%></div>
    <div> <img src="<%=post.image%>" alt="user's image"  width="195px" height="170px"></div>
    <div>Description:<%=post.description%></div>
    <div>Location:<%=post.location%></div>
    <div>Date:<%=post.date%></div>
  <a href="/posts/<%=post._id%>/comments" class="btn btn-info">See Comments</a>
  <a href="/posts/<%=post._id%>/comments/new" class="btn btn-info">Add New Comment</a>
  <div id="comments"></div>
  </div>
</div>

<%include ../partials/footer%>