<%include ../partials/header%>
<%include ../partials/navigation%>
<div class="container">
  <h3>Title:<%=post.title%></h3>
  <h3>Date:<%=post.date%></h3>
  <h3>Image:<%=post.image%></h3>
  <h3>Description:<%=post.description%></h3>
  <h3>Location:<%=post.location%></h3>
</div>
<%include ../partials/footer%>